---
import Layout from "../layouts/Layout.astro";
import HeaderClient from "../shared/components/HeaderClient";
import { Beneficios as BeneficiosComponent } from "@/modules/marketing/components/Beneficios";
import { AppWrapper } from "@/shared/components/AppWrapper";
import { fade } from "astro:transitions";
---

<Layout>
  <AppWrapper client:load>
    <div transition:animate={fade({ duration: "300ms" })}>
      <HeaderClient client:load currentPage="beneficios" />
      <BeneficiosComponent client:load />
    </div>
  </AppWrapper>
</Layout>
